<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" />
		<authentication mode="None" />
	</system.web>

	<!-- optional: IIS7+ default document. Nếu IIS Express dùng, giữ; nếu gặp lỗi, bạn có thể xóa whole system.webServer -->
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx" />
				<add value="API.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
